html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  
  
}

header {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.hero-content {
  width: 50%;
  text-align: center;
  color: #000;
}

p {
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
}

a {
  margin-top: 0;
  margin-right:10px;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 10px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

nav {
  width: 100%;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  background-color:  rgb(0, 0, 0, 0.3);
  z-index: 10;
}

span .font-pair1a{
  font-family: 'Montserrat', sans-serif;
}

span .font-pair1b{
  font-family: 'Raleway', sans-serif;
}


/* add your css below this line */

.hero-background {
  background: url("https://images.unsplash.com/photo-1596865249308-2472dc5807d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1506&q=80") no-repeat fixed center;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-background {
  background: url("https://images.unsplash.com/photo-1581892712076-d460e0f4405b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") no-repeat fixed bottom;
}

.second-section-background {
  background: url("https://images.unsplash.com/photo-1588600209371-fbbd82462a36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") no-repeat fixed bottom;
}

.third-section-background {
  background: url("https://images.unsplash.com/photo-1482160549825-59d1b23cb208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80") no-repeat fixed bottom;
}

.with-background {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px 0;
}

h1 {
  color: #ffffff;
  font-size: 60px;
  line-height: 65px;
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 200;
  line-height: 40px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  font-weight: 200;
  line-height: 60px;
  margin: 0;
}

.number {
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  color: #fff;
  text-align: center;
  top: -25px;
  right: -25px;
  font-weight: 30px;
  line-height: 50px;
}

article {
  max-width: 50%;
  margin: 20px auto;
  padding: 50px;
}

.first-article-container, .second-article-container, .third-article-container  {
  position: relative;
}

.first-article-container {
  background-color: #7f6e9c;
}

.second-article-container {
  background-color: #e1805a;
}

.third-article-container {
  background-color: #99c4bf;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #202020;
  color: #fff;
}

 


